body{
  margin: 50px 200px;
  /* margin: 50px auto; */
 }
 
 #header {
  display: flex;
  flex-flow: row wrap;
  border-top: 2px lightgray solid;
  margin-bottom: 40px;
 }
 
 #title{
  flex: 1 1 600px;
  font-size: 3.5em;
  font-weight: bolder;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(156, 154, 154);
  text-decoration: none;
 }
 
 //apply the img to background img
 #bio{
  flex: 1 1 200px;
  font-size: 0.75em;
  margin: 10px 0;
  border-left: 2px lightgray solid;
  padding: 0 0 0 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
 }
 
 /*-------------------------------------------------------*/
 
 #pictures{
  display: flex;
  flex-flow: row wrap;
 }
 
 #mainPhoto{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px lightgray solid;
  background-image: url('http://cacsw.org/wp-content/uploads/2017/11/2019-Toyota-Tacoma-off-road-4k-uhd-wallpaper.png');
  background-position: center;
  background-size: 100% 100%; 
  border: 1px lightgray solid;
  width: 40%;
 }
 
 #featurePhoto{
  width: 100%;
  height: 500px;
 }
 
 #photos{
  flex: 1 1 50px;
  width: 33%;
  padding: 5px;
  padding-bottom: 40px;
 }
 
 .otherPhotos{
  width: 100%;
  height: 200px;
  flex-direction: column;
  border: solid 1px lightgray;
  transition: border-width 0.6s linear;
 }

 .otherPhotos:hover { border-width: 10px; }

 p {
  word-wrap: break-word;
 }
 
 .img-title{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  width: 100%;
 }
 
 .photoLink{
  margin: 0;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  font-size: 0.75em;
 }
 
 /*---------------------------------------------------------------*/
 
 #singleImgDesc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  font-size: 1em;
 }
 
 #singleImg{
  width: 100%;
  height: 550px;
 }

/*----------------------*/
#error {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 340px;
	height: 80px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 20px 'Open Sans', sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #5A3F37, #2C7744, #5A3F37, #2C7744);
	background-size: 400%;
	border-radius: 50px;
	z-index: 1;
}

#error:hover {
	animation: animate 8s linear infinite;
}

@keyframes animate 
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}

#error:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #5A3F37, #2C7744, #5A3F37, #2C7744);
	background-size: 400%;
	border-radius: 40px;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;
}

#error:hover:before {
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}

/*----------------------------------------------------*/

#title{
  color: white;
}
.formTitle{
  color: white;
}

#loginForm{
  border: 3px solid white;
  padding: 2px;
  color: white;
}

body{
  background-image: url('http://s1.picswalls.com/wallpapers/2016/06/10/4k-desktop-wallpaper_065227602_309.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}