body {
 margin: 50px 200px;
}  

#header {
  display: flex;
  flex-flow: row wrap;
}

#pictures{
  display: flex;
  flex-flow: row wrap;
}

#mainPhoto{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px lightgray solid; 
}

#featurePhoto{
  width: 100%;
  height: 500px;
}

#photos{
  flex: 1 1 50px;
  width: 35%;
  padding: 5px;
  padding-bottom: 40px;
 }
 
 .otherPhotos{
  height: 200px;
  width: 300px;
  display: inline-block;
 }

 

 .img-title{
   margin: 0;
   color: rgb(187, 185, 185);
  }

  .photoLink{
    margin: 0;
    margin-top: 10px;
    color: rgb(187, 185, 185);
    font-size: 0.75em; 
  }

  #singleImgDesc {
    margin: 0;
    color: rgb(187, 185, 185);
    font-size: 1em;
   }
   
   #singleImg{
    height: 550px;
   }