body{
  margin: 50px 200px;
  /* margin: 50px auto; */
 }
 
 #header {
  display: flex;
  flex-flow: row wrap;
  border-top: 2px lightgray solid;
  margin-bottom: 40px;
 }
 
 #title{
  flex: 1 1 600px;
  font-size: 3.5em;
  font-weight: bolder;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(156, 154, 154);
  text-decoration: none;
 }
 
 #bio{
  flex: 1 1 200px;
  font-size: 0.75em;
  margin: 10px 0;
  border-left: 2px lightgray solid;
  padding: 0 0 0 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
 }
 
 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 
 #pictures{
  display: flex;
  flex-flow: row wrap;
 }
 
 #mainPhoto{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px lightgray solid;
  background-image: url('http://cacsw.org/wp-content/uploads/2017/11/2019-Toyota-Tacoma-off-road-4k-uhd-wallpaper.png');
  background-position: center;
  background-size: 100% 100%; 
  border: 1px lightgray solid;
  width: 40%;
 }
 
 #featurePhoto{
  width: 100%;
  height: 500px;
 }
 
 #photos{
  flex: 1 1 50px;
  width: 33%;
  padding: 5px;
  padding-bottom: 40px;
 }
 
 .otherPhotos{
  width: 100%;
  height: 200px;
  border: solid 1px lightgray;
  transition: border-width 0.6s linear;
 }

 .otherPhotos:hover { border-width: 10px; }

 p {
  word-wrap: break-word;
 }
 
 .img-title{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  width: 100%;
 }
 
 .photoLink{
  margin: 0;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  font-size: 0.75em;
 }
 
 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 
 #singleImgDesc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(187, 185, 185);
  font-size: 1em;
 }
 
 #singleImg{
  width: 100%;
  height: 550px;
 }