
<div id="header">
 <div id='title'>offroading</div>
</div>

<div id="loginBox">
 <h1 class="formTitle">Welcome to offroading! Login here</h1>
 <form id="loginForm" action="/auth/login" method="post">
   Username:<br>
   <input id="username" type="text" name="username">
   <br><br>
   Password:<br>
   <input id="password" type="password" name="password">
   <br><br><br>
   <input class="submitBtn" type="submit" value="Login">
 </form>
</div>

