<div id="header">
 <div id='title'>Appreciation of Cars</div>
</div>

<form id="newPhoto"action="/gallery" method="post">
 <h1 class="formTitle">Submit A New Photo:</h1>
 <label>Author:<br>
   <textarea id="newName"name="author" id=""></textarea>
 </label>
 <br><br>
  <label>author_id:<br>
   <textarea id="newauthid"name="author_id" id=""></textarea>
 </label>
 <br><br>
 <label>Link:<br>
   <textarea id="newLink"name="link" id=""></textarea>
 </label>
 <br><br>
 <label>Description:<br>
   <textarea id="newDesc"name="description" id=""></textarea>
 </label>
 <br><br>
 <input class="submitBtn" type="submit" value="Submit">
</form>

<br>
<a class="redirect" href="/"><i class="fas fa-angle-double-left"></i> Back to gallery</a>