<div id="header">
 <div id='title'>Appreciation of Cars</div>
</div>

{{#if isRegistering}}
<div id="registerBox">
 <h1 class="formTitle">Register</h1>
 <form id="registerForm" action="/auth/register" method="post">
   Username:<br>
   <input id="username"type="text" name="username">
   <br><br>
   Password:<br>
   <input id="password"type="password" name="password">
   <br><br><br>
   <input class="submitBtn" type="submit" value="Submit">
 </form>
</div>
{{/if}}

{{#if isInvalidRegistration}}
<div id="registerBox">
 <h1 class="formTitle">Register</h1>
 <p id="errMsg">Invalid username or password. Please try again.</p>
 <form id="registerForm" action="/auth/register" method="post">
   Username:<br>
   <input type="text" name="username">
   <br><br>
   Password:<br>
   <input type="password" name="password">
   <br><br><br>
   <input class="submitBtn" type="submit" value="Submit">
 </form>
</div>
{{/if}}