body {
  margin: 50px 200px;
  /* margin: 50px auto; */ }

#header {
  display: flex;
  border-top: 2px lightgray solid;
  margin-bottom: 40px; }

#title {
  flex: 1 1 600px;
  font-size: 3.5em;
  font-weight: bolder;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: #9c9a9a;
  text-decoration: none; }

#bio {
  flex: 1 1 200px;
  font-size: 0.75em;
  margin: 10px 0;
  border-left: 2px lightgray solid;
  padding: 0 0 0 20px;
  font-family: 'Roboto', sans-serif;
  color: #bbb9b9; }

/*-------------------------------------------------------*/
#pictures {
  display: flex;
  flex-flow: row wrap; }

#mainPhoto {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px lightgray solid;
  background-image: url("https://i.ytimg.com/vi/NHooHTmpuuY/maxresdefault.jpg");
  background-position: center;
  background-size: 100% 100%;
  border: 1px lightgray solid;
  width: 40%; }

#photos {
  flex: 1 1 50px;
  width: 33%;
  padding: 5px;
  padding-bottom: 40px; }

.otherPhotos {
  width: 100%;
  height: 200px;
  flex-direction: column;
  border: solid 1px lightgray;
  transition: border-width 0.6s linear; }

.otherPhotos:hover {
  border-width: 10px; }

p {
  word-wrap: break-word; }

.img-title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #bbb9b9;
  width: 100%; }

.photoLink {
  margin: 0;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #bbb9b9;
  font-size: 0.75em; }

/*---------------------------------------------------------------*/
#singleImgDesc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #bbb9b9;
  font-size: 1em; }

#singleImg {
  width: 100%;
  height: 550px; }

/*----------------------*/
#error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 20px 'Open Sans', sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #5A3F37, #2C7744, #5A3F37, #2C7744);
  background-size: 400%;
  border-radius: 50px;
  z-index: 1; }

#error:hover {
  animation: animate 8s linear infinite; }

@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

#error:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #5A3F37, #2C7744, #5A3F37, #2C7744);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s; }

#error:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite; }

/*----------------------------------------------------*/
.formTitle {
  color: white; }

#loginForm {
  border: 2px solid black;
  padding: 150px;
  color: white; }

#loginForm {
  background-image: url("https://wallpaper-house.com/data/out/7/wallpaper2you_148232.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black; }

#username, #password {
  border: 3px solid black; }

.submitBtn {
  border: 3px solid black; }

#registerForm {
  background-image: url("https://scontent-frt3-2.cdninstagram.com/vp/b16550f396ee6eec2cac861eb0fcb838/5C15274D/t51.2885-15/e35/38926184_1858967697524381_4415492406267346944_n.jpg?se=7&ig_cache_key=MTg0OTU5NTA1OTUyOTAyMTIyNA%3D%3D.2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black; }

#registerForm {
  border: 2px solid black;
  padding: 150px;
  color: white; }

.newnew, .reg {
  display: inline; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#newPhoto {
  background-image: url("https://wallpapersite.com/images/wallpapers/toyota-hilux-tonka-2560x1440-concept-trucks-2017-6968.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.formTitle {
  color: white; }

label {
  color: white; }

.photoLink {
  color: #bbb9b9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

.photoLink:hover {
  color: cornflowerblue; }

.users-entries {
  align-content: center;
  text-align: center; }
