<div id="header">
 <div id='title'>Appreciation of Cars</div>

 <div id='bio'> Welcome to our online portfolio, we are truck ethusiast, we  build, break and blaze our trucks, we may not all like the same things but we share one passion which is love for the truck world.</div>
</div>
<br>

<div id="singleUser">
 <h1>{{username}}</h1>
 {{!-- <img id="singleImg" src={{link}} alt="{{description}}"> --}}
</div>